@import "./colors/default.css";

* {
  color: white;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}

.modules-left {}

.modules-center,
.modules-right {
 background: @bg0;
  padding: 6px 4px;
  border-radius: 28px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0px 8px 0px 8px;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 0px 4px;
  margin: 0px 2px;
  border-radius: 16px;
  color: @grey0;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(135deg, @blue 0%, @purple 50%, @reg 100%);
  color: @bg0;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.hover {
  background-color: @bg3;
  color: @fg;
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg0;
}

#clock,
#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-ip {
  background-color: @bg0;
  padding: 0px 8px;
  margin: 0px 4px;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

tooltip {
  background-color: @bg2;
  border: 1px solid @bg3;
  border-radius: 8px;
}

tooltip label {
  color: @fg;
  padding: 2px;
}

#custom-pacman {
  color: @orange;
}

#network {
  color: @purple;
}

#pulseaudio {
  color: @yellow;
}

#battery {
  color: @green;
}

